# ---> C
# Object files
*.o
*.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpptest
ctest

shutdown.txt
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
*.sqlite
/.vs
/.vscode
core.*
core
*.cmake
googletest-build
googletest-download
googletest-src
Testing
/out/build/x64-Debug/bin
/out/build/x64-Debug
/out
/out
*.bak
